<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32708871120-smhu77829ab3t0jftqeefclfg3l5j2nv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32708871120-smhu77829ab3t0jftqeefclfg3l5j2nv</string>
	<key>API_KEY</key>
	<string>AIzaSyCOM66aQVL-hq22z0rMMsUtNgLFNfyRVyU</string>
	<key>GCM_SENDER_ID</key>
	<string>32708871120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>a.Firebase-Demo</string>
	<key>PROJECT_ID</key>
	<string>sample-demo-project-91ce3</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-demo-project-91ce3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32708871120:ios:0310dbaa5a203b54</string>
	<key>DATABASE_URL</key>
	<string>https://sample-demo-project-91ce3.firebaseio.com</string>
</dict>
</plist>